


<div class="col-12">

    <div class="card">
      <div class="card-body">
  
        <h3 class="card-title"> Proveedores Registrados ( <small>x</small> )</h3>
      
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Empresa</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th>Botones</th>
            </tr>
          </thead>
  
          <tbody>
            <tr>
              <td>Imagen</td>
              <td>Email</td>
              <td>Nombre</td>
              <td>Role</td>
              <td>
                <button class="btn btn-primary">
                  <i class="fa fa-save"></i>
                </button>
                <button class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
  
      </div>
    </div>
  
  </div>